.guitarForm {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-image: url("https://www.taylorguitars.com/sites/default/files/styles/hero_rotator_image/public/images/2021-10/taylor-custom-10416-ga-maple-hero-4-2017.jpeg?itok=8ABcwxF-");
  background-repeat: round;
  
}
body {
    background-color: black;
    
}
.dropdown-field {
  width: 40%;
  height: 3em;
  line-height: 23px;
  padding-right: 2px;
}

.guitar-name {
  width: 40%;
}

.btn-createGuitar {
  border: 10px;
  background-color: rgb(193, 90, 5);
  width: 13em;
  height: 3em;
  color: white;

}

.btn-createGuitar:hover {
    background-color: rgb(194, 145, 116);
}


.newOrderName {
    color: white;
}