.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar__link {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    
}

.navbar__link:hover {
    background-color: #111;
  }

.navbar__logout {
    margin-left: auto;
}

h2 {
    color: white
}

.navLogo {
    float: left;
    font-size: 25px;
    color: rgb(237, 135, 17);
    padding: 10px;
}